<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Vue To do list</title>
  </head>
  <body>
    <div id="app">
      <img :src="image" alt="">
      <div>
        <!-- // Quando l'utente inserisce una task ha due modi per salvarla: o preme il pulsante add (button) o preme il taso Enter della tastiera (input). -->
        <input type="text" name="task" value="task" v-model="newTask" @keyup.enter="addTask">
        <button type="button" name="button" @click="addTask">Add</button>
      </div>
      <ul>
        <li v-for="task in tasks">
          <span>{{ task.text }}</span>
          <!-- // Cliccando sulla "X" l'utente puó cancellare una task -->
          <i class="fas fa-times-circle" @click="removeTask"></i>
        </li>
      </ul>
    </div>



    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
