*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #B2C4DE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #app */
img{
  width: 165px;
  text-align: center;
}

input{
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
}
input:focus{
  color: #25DD6A;
  outline-color: #25DD6A;
  background-color: #031633;
}
button{
  border: none;
  background: #EFEEF0;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}
button:hover{
  color: #25DD6A;
  background-color: #031633;
}
button:focus{
  outline-color: #031633;
}

h3{
  margin-top: 15px;
  margin-bottom: 5px;
}

li{
  padding: 5px 10px;
  background: #D4D2D4;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
li:first-child{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
li:last-child{
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
li:hover{
  background: #788899;
}
i.fa-times-circle{
  font-size: 1.3em;
}
